<!-- banner start -->
<div id="banner" class="banner">
	<div class="banner-image" backstretch backstretch-images="'../images/banner2.jpg'" style="height: 100vh;"></div>
	<div class="banner-caption">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 object-non-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
					<h1 class="text-center">We are
						<span>Moxie</span>
					</h1>
					<h2 class="text-center">January 23rd, 2016<br>
					Hosted by <a href="http://crossfitspokanevalley.com">CrossFit Spokane Valley<a/></h2>
					<p class="description lead">Moxie means to be bold and beautiful, just like the women of the Northwest! This is a chance for ladies to come together,
						show off their fitness and celebrate the love for CrossFit we all share. A portion of every entry will go towards the
						UGM Crisis Shelter for Women and Children in Spokane, WA.</p>
					<h2 class="text-center">Womens Rx - Womens Masters (40+) - Teams of Three</h2>
					<p class="lead">To compete you will need to meet the following standards:</p>
					<ul>
						<li>Barbell Lifts: 65lbs for individuals and 55lbs for masters</li>
						<li>Box Jumps: 20inch box</li>
						<li>Kettle Bell Movements: 35lbs</li>
						<li>Dumbbell Movements: 20lbs</li>
						<li>Wall Balls: 14lbs for individuals and 10lbs masters, 10ft target</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- banner end -->
<!-- section start -->
<div id="register" class="section object-non-visible translucent-bg bg-image-1 blue" when-visible="animateElementIn" when-not-visible="animateElementOut">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="registration row">
					<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">

						<h1 class="page-header">Register</h1>

						<form class="application-form form-group" name="applicationForm">
							<div class="btn-group btn-group-justified">
								<a href="javascript:void(0)" ng-click="vm.division = 'individual'" ng-class="{ 'active' : vm.division == 'individual' }"
								class="btn btn-default">Rx ($55)</a>
								<a href="javascript:void(0)" ng-click="vm.division = 'masters'" ng-class="{ 'active' : vm.division == 'masters' }" class="btn btn-default">Masters ($55)</a>
								<a href="javascript:void(0)" ng-click="vm.division = 'team'" ng-class="{ 'active' : vm.division == 'team' }" class="btn btn-default">Team ($120)</a>
							</div>

							<br/>

							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<div class="form-group">
										<input class="form-control" ng-class="{'is-valid': applicationForm.athlete1.$valid, 'is-dirty': applicationForm.athlete1.$dirty && applicationForm.athlete1.hasBlurred}"
										ng-blur="applicationForm.athlete1.hasBlurred = applicationForm.athlete1.$dirty" ng-model="vm.athlete1" name="athlete1"
										type="text" placeholder="Athlete" required="required" />
									</div>
								</div>
								<div class="col-xs-12 col-sm-8">
									<label>Shirt size
										<div class="btn-group">
											<a href="javascript:void(0)" ng-click="vm.athlete1size = 'small'" ng-class="{ 'active' : vm.athlete1size == 'small' }" class="btn btn-default">S</a>
											<a href="javascript:void(0)" ng-click="vm.athlete1size = 'medium'" ng-class="{ 'active' : vm.athlete1size == 'medium' }"
											class="btn btn-default">M</a>
											<a href="javascript:void(0)" ng-click="vm.athlete1size = 'large'" ng-class="{ 'active' : vm.athlete1size == 'large' }" class="btn btn-default">L</a>
											<a href="javascript:void(0)" ng-click="vm.athlete1size = 'xlarge'" ng-class="{ 'active' : vm.athlete1size == 'xlarge' }"
											class="btn btn-default">XL</a>
											<a href="javascript:void(0)" ng-click="vm.athlete1size = 'xxlarge'" ng-class="{ 'active' : vm.athlete1size == 'xxlarge' }"
											class="btn btn-default">XXL</a>
										</div>
									</label>
								</div>
							</div>
							<div class="row" ng-show="vm.division == 'team'">
								<div class="col-xs-12 col-sm-4">
									<div class="form-group">
										<input class="form-control" ng-class="{'is-valid': applicationForm.athlete2.$valid, 'is-dirty': applicationForm.athlete2.$dirty && applicationForm.athlete2.hasBlurred}"
										ng-model="vm.athlete2" name="athlete2" type="text" placeholder="Second athlete" required="required" />
									</div>
								</div>
								<div class="col-xs-12 col-sm-8">
									<label>Shirt size
										<div class="btn-group">
											<a href="javascript:void(0)" ng-click="vm.athlete2size = 'small'" ng-class="{ 'active' : vm.athlete2size == 'small' }" class="btn btn-default">S</a>
											<a href="javascript:void(0)" ng-click="vm.athlete2size = 'medium'" ng-class="{ 'active' : vm.athlete2size == 'medium' }"
											class="btn btn-default">M</a>
											<a href="javascript:void(0)" ng-click="vm.athlete2size = 'large'" ng-class="{ 'active' : vm.athlete2size == 'large' }" class="btn btn-default">L</a>
											<a href="javascript:void(0)" ng-click="vm.athlete2size = 'xlarge'" ng-class="{ 'active' : vm.athlete2size == 'xlarge' }"
											class="btn btn-default">XL</a>
											<a href="javascript:void(0)" ng-click="vm.athlete2size = 'xxlarge'" ng-class="{ 'active' : vm.athlete2size == 'xxlarge' }"
											class="btn btn-default">XXL</a>

										</div>
									</label>
								</div>
							</div>
							<div class="row" ng-show="vm.division == 'team'">
								<div class="col-xs-12 col-sm-4">
									<div class="form-group">
										<input class="form-control" ng-class="{'is-valid': applicationForm.athlete3.$valid, 'is-dirty': applicationForm.athlete3.$dirty && applicationForm.athlete3.hasBlurred}"
										ng-model="vm.athlete3" name="athlete3" type="text" placeholder="Third athlete" required="required" />
									</div>
								</div>
								<div class="col-xs-12 col-sm-8">
									<label>Shirt size
										<div class="btn-group">
											<a href="javascript:void(0)" ng-click="vm.athlete3size = 'small'" ng-class="{ 'active' : vm.athlete3size == 'small' }" class="btn btn-default">S</a>
											<a href="javascript:void(0)" ng-click="vm.athlete3size = 'medium'" ng-class="{ 'active' : vm.athlete3size == 'medium' }"
											class="btn btn-default">M</a>
											<a href="javascript:void(0)" ng-click="vm.athlete3size = 'large'" ng-class="{ 'active' : vm.athlete3size == 'large' }" class="btn btn-default">L</a>
											<a href="javascript:void(0)" ng-click="vm.athlete3size = 'xlarge'" ng-class="{ 'active' : vm.athlete3size == 'xlarge' }"
											class="btn btn-default">XL</a>
											<a href="javascript:void(0)" ng-click="vm.athlete3size = 'xxlarge'" ng-class="{ 'active' : vm.athlete3size == 'xxlarge' }"
											class="btn btn-default">XXL</a>
										</div>
									</label>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<input class="form-control" ng-class="{'is-valid': applicationForm.email.$valid, 'is-dirty': applicationForm.email.$dirty && applicationForm.email.hasBlurred}"
										ng-blur="applicationForm.email.hasBlurred = applicationForm.email.$dirty" ng-model="vm.email" name="email" type="email"
										placeholder="Email" required="required" />
									</div>
								</div>
							</div>

							<br/>

							<div class="alert alert-danger" ng-show="applicationErrors.length > 0">
								<div ng-repeat="err in applicationErrors">{{ err }}</div>
							</div>

						</form>

						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="vm.division == 'individual'">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="RRWXBVJZWG964">
							<input type="hidden" name="custom" value="{{vm | json}}">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>

						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="vm.division == 'masters'">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="JXFM9X5VM5V5G">
							<input type="hidden" name="custom" value="{{vm | json}}">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>

						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="vm.division == 'team'">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="DDJTKLUTGEP6S">
							<input type="hidden" name="custom" value="{{vm | json}}">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>



						<!--<div class="text-center">
								<button type="submit" class="tsc-btn tsc-btn-white tsc-btn-lg tsc-btn-block" ng-disabled="applicationForm.$invalid || isProcessingPayment">
									<span ng-hide="isProcessingPayment">Register @ {{ pricing.priceInCents.current / 100 | currency}}</span>
									<span ng-show="isProcessingPayment"><i class="fa fa-pulse fa-spinner"></i></span>
								</button>
							</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer start -->
<footer id="contact">
	<!-- .footer start -->
	<div class="footer section">
		<div class="container ">
			<h1 class="title text-center " id="contact ">Contact Us</h1>
			<div class="space "></div>
			<div class="row ">
				<div class="col-sm-6 ">
					<div class="footer-content ">
						<ul class="list-icons ">
							<li>
								<i class="fa fa-map-marker pr-10 "></i>12403 E 1st Ave
								<br>Spokane Valley, WA 99216
								<li>
									<i class="fa fa-phone pr-10 "></i>(509) 863-7922</li>
								<li>
									<i class="fa fa-envelope-o pr-10 "></i><a href="mailto:salem.giampietro@yahoo.com">salem.giampietro@yahoo.com</a></li>
								<li>
									<i class="fa fa-facebook pr-10 "></i><a href="https://www.facebook.com/events/912605735476215/">page</a></li>
						</ul>
					</div>
				</div>
				<!--<div class="col-sm-6 ">
					<div class="footer-content ">
						<form role="form " id="footer-form ">
							<div class="form-group has-feedback ">
								<label class="sr-only " for="name2 ">Name</label>
								<input type="text " class="form-control " id="name2 " placeholder="Name " name="name2 " required>
								<i class="fa fa-user form-control-feedback "></i>
							</div>
							<div class="form-group has-feedback ">
								<label class="sr-only " for="email2 ">Email address</label>
								<input type="email " class="form-control " id="email2 " placeholder="Enter email " name="email2 " required>
								<i class="fa fa-envelope form-control-feedback "></i>
							</div>
							<div class="form-group has-feedback ">
								<label class="sr-only " for="message2 ">Message</label>
								<textarea class="form-control " rows="8 " id="message2 " placeholder="Message " name="message2 " required></textarea>
								<i class="fa fa-pencil form-control-feedback "></i>
							</div>
							<input type="submit " value="Send " class="btn btn-default " style="margin-bottom: 39px;">
						</form>
					</div>
				</div>-->
			</div>
		</div>
		<div class="subfooter ">
			<div class="container ">
				<div class="row ">
					<div class="col-md-12 ">
						<p class="text-center ">Copyright © 2015 by
							<a target="_blank " href="http://crawford.cc">Josh Crawford</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .footer end -->
</footer>
